<!-- <script type="text/javascript" src="_scripts/scripts-our-service-strategy.js"></script><!-- -->
<div class="contents-innerHTML strategy clearfix">
	<div class="image"><img src="_images/patrones.jpg" width="710" height="185" alt="patrones" /></div>
	<div class="our-service-content-navi">
		<ul>
			<li class="first selected"><a href="javascript:;" class="link1">Roadmapping</a></li>
			<li><a href="javascript:;" class="link2">Anaxxsis</a></li>
			<li><a href="javascript:;" class="link3">Workshops</a></li>
		</ul>
	</div>
	<div class="our-service-content">
		<div class="content-item content-item-1">
			<h4>Abstract Factory</h4>
			<p>Proporciona una interfaz para crear familias de objetos relacionados o que dependen entre si, sin especificar sus clases concretas.El patron Abstract Factory  ayuda a controlar las clases de objectos que crea una aplicacion. Como una fabrica encapsula la responsabilidad y el proceso de creacion de objetos producto, aisla a los clientes de las clases.LA clase fabrica concreta solo aparece una vez en la aplicacion "cuando se crea). Cuando se diseñan objetos  producto en una familia para trabajar juntos, es importante que una aplicacion use objetos de una sola familia a la vez. La fabrica abstracta facilita que se cumpla esta restriccion." 	</p>
		</div>
		<div class="content-item content-item-2">
			<h4>MVC</h4>
			<p>Consiste en tres tipos de pbjetos. El Modelo es el objeto de aplicacion, la Vista es su representacion en la pantalla y el Controlador define el modo en que la interfaz reacciona a la entrada del usuario. Antes de MVC, los diseños de interfaces de usuario tendian a agrupar estos objetos en uno solo. MVC los separa para incrementar la flexibilidad y reutilizacion. Ademas desacopla las vistas de los modelos estableciendo entre ellos un protocolo de susvripcion/notificacion. Una vista debe asegurarse de que su apariencia refleja el estado del modelo. Cada vez que cabian los datos del modelo, este se encarga de avisar a las vistas que dependen de el. Como respuesta a dicha notificacion, cada vista tiene la oportunidad de actualizarse a si misma.</p>
		</div>
		<div class="content-item content-item-3">
			<h4>Iterator</h4>
			<p>Proporciona un modo de acceder secuencialmente a los elementos de un objeto agregado sin exponer su representacion interna. Es frecuente encontrarlo en los sistemas orientado a objetos. La mayoria de las bibliotecas de clases ofrecen iteradores de una forma u otra. Proporciona dos implementaciones  de una cola , para un tamaño fijo y otra dque crece dinamicamente. La interfaz de la cola la define una clase abstracta Queue. Para permitir iterar poliformicamente sobre las diferentes implementaciones de colas, el iterador de la cola se implementa en terminos de la interfaz de la clase abstracta Queue. Esta variacion tiene la ventaja de que no se necesita un metodo de fabricacion para pedirle a las implementaciones de colas su iterador apropiado.</p>
		</div>
	</div><!-- class="our-service-content"-->
</div>
