<script type="text/javascript" src="_scripts/scripts-our-work-portfolio.js"></script>

<div class="contents-innerHTML clearfix">

<div class="case-study-list clearfix">
<div class="case-study-item" id="cs-item-1">
<a href="javascript:;" class="thumb"><span class="cs-info"><strong>Haikara</strong>Anime &amp; Manga</span></a>
</div>
<div class="case-study-item" id="cs-item-2">
<a href="javascript:;" class="thumb"><span class="cs-info"><strong>x</strong>x</span></a>
</div>
<div class="case-study-item" id="cs-item-3">
<a href="javascript:;" class="thumb"><span class="cs-info"><strong>x </strong>x</span></a>
</div>

<div id="case-study-list-navi"><!-- NO NAVI for now --> </div>

<!-- ///////////// PORTFOLIO ITEM -->
<div id="cs-item-screen-1" class="screen clearfix">
<div class="tools-top clearfix">
<ul class="cs-navi">
<li><a href="javascript:;" class="close">Todos</a></li>
<li><a href="javascript:;" class="prev first">&lt; Anterior</a></li>
<li><a href="javascript:;" class="next">Siguiente &gt;</a></li>
</ul>
</div>
<div class="screen-body">
<div class="project-images">		
<a class="prevImage prev">&nbsp;</a>
<div class="scrollable">
<div class="items"></div>
</div>
<a class="nextImage next">&nbsp;</a>
</div>
<div class="screen-header clearfix">
<h4 class="project-info"><strong>Haikara:</strong>Anime &amp; Manga</h4>
<div class="tag">Wordpress, XHTML, CSS, JQuery, PHP, MySQL, Facebook plugins </div>
</div>
<div class="cs-info clearfix">
<div class="description"><p><strong>Objetivo: </strong> Crear una plantilla para un blog, para que pueda publicar sus entradas en Facebook. </p>
<p><strong>Resultados: </strong> Usando la nuva estructura de plantillas de Wordpress, modificando el codigo se instalo el plugin para Facebook. Aplicando maquetacion, el uso de CSS y JQuery se le dio interactividad al blog. Se mejoro su rastreabilidad en google aplicando SEO, y asi una mejor administracion en Wordpress.   </p></div>
<div class="testimony">"El blog quedo muy bien diseñado, y mejoro el control de visitas en el google analitycs  <!--, as well as virtual collaboration-->."
<span class="name"></span></div>
</div>
</div>
</div><!--/ class="screen-->


<!-- ///////////// PORTFOLIO ITEM -->
<div id="cs-item-screen-2" class="screen clearfix">
<div class="tools-top clearfix">
<ul class="cs-navi">
<li><a href="javascript:;" class="close">Todos</a></li>
<li><a href="javascript:;" class="prev">&lt; Anterior</a></li>
<li><a href="javascript:;" class="next">Siguiente &gt;</a></li>
</ul>
</div>
<div class="screen-body">
<div class="project-images">		
<a class="prevImage prev">&nbsp;</a>
<div class="scrollable">
<div class="items">
</div>
</div>
<a class="nextImage next">&nbsp;</a>
</div>
<div class="screen-header clearfix">
<h4 class="project-info"><strong>Haikara:</strong>Anime &amp; Manga</h4>
<div class="tag">Wordpress, XHTML, CSS, JQuery, PHP, MySQL, Facebook plugins </div>
</div>
<div class="cs-info clearfix">
<div class="description"><p><strong>Objetivo: </strong> Crear una plantilla para un blog, para que pueda publicar sus entradas en Facebook. </p>
<p><strong>Resultados: </strong> Usando la nuva estructura de plantillas de Wordpress, modificando el codigo se instalo el plugin para Facebook. Aplicando maquetacion, el uso de CSS y JQuery se le dio interactividad al blog. Se mejoro su rastreabilidad en google aplicando SEO, y asi una mejor administracion en Wordpress.   </p></div>
<div class="testimony">"El blog quedo muy bien diseñado, y mejoro el control de visitas en el google analitycs  <!--, as well as virtual collaboration-->."
<span class="name"></span></div>
</div>
</div>
</div><!--/ class="screen-->


<!-- ///////////// PORTFOLIO ITEM -->
<div id="cs-item-screen-3" class="screen clearfix">
<div class="tools-top clearfix">
<ul class="cs-navi">
<li><a href="javascript:;" class="close">Todos</a></li>
<li><a href="javascript:;" class="prev">&lt; Anterior</a></li>
<li><a href="javascript:;" class="next last">Siguiente &gt;</a></li>
</ul>
</div>
<div class="screen-body">
<div class="project-images">		
<a class="prevImage prev">&nbsp;</a>
<div class="scrollable">
<div class="items">
</div>
</div>
<a class="nextImage next">&nbsp;</a>
</div>
<div class="screen-header clearfix">
<h4 class="project-info"><strong>Haikara:</strong>Anime &amp; Manga</h4>
<div class="tag">Wordpress, XHTML, CSS, JQuery, PHP, MySQL, Facebook plugins </div>
</div>
<div class="cs-info clearfix">
<div class="description"><p><strong>Objetivo: </strong> Crear una plantilla para un blog, para que pueda publicar sus entradas en Facebook. </p>
<p><strong>Resultados: </strong> Usando la nuva estructura de plantillas de Wordpress, modificando el codigo se instalo el plugin para Facebook. Aplicando maquetacion, el uso de CSS y JQuery se le dio interactividad al blog. Se mejoro su rastreabilidad en google aplicando SEO, y asi una mejor administracion en Wordpress.   </p></div>
<div class="testimony">"El blog quedo muy bien diseñado, y mejoro el control de visitas en el google analitycs  <!--, as well as virtual collaboration-->."
<span class="name"></span></div>
</div>
</div>
</div><!--/ class="screen-->

</div><!--class="case-study-list"-->
</div>
