<div class="contents-innerHTML clearfix">
	<div class="section1">
		<h4>March 28-31, 2011, San Francisco, CA<br />
		<a href="http://www.web2expo.com/webexsf2011/" target="_blank">Web 2.0 Expo San Francisco 2011</a></h4>
		<p><br /><span style="color:#999;">1:00pm Monday, 03/28/2011</span><br />
		<a href="http://www.web2expo.com/webexsf2011/public/schedule/detail/17803" target="_blank">Beyond Usable: Research with Results</a><br />
Kelly Goto, Principal &amp; CEO<br /><br />
You know that research is essential to understanding your users and creating better experiences. Design Ethnographer Kelly Goto shares rapid, combined research methods that tap into what you already know to add to your UX toolbox today.</p>

		<p><span style="color:#999;">11:10am Wednesday, 03/30/2011</span><br />
		<a href="http://www.web2expo.com/webexsf2011/public/schedule/detail/19916" target="_blank">Seismic Shifts: The Future of the Global Mobile Eco-System</a><br />
Kelly Goto, Principal &amp; CEO<br />
<br />
Steady user trends bring about dramatic and abrupt changes by handset manufactures like Nokia, operating system providers like Microsoft, and carriers like T-Mobile. AT&amp;T's bid to acquire T-Mobile and Microsoft's billion dollar deal to be Nokia's OS provider and the shake-up in Japan are just the most recent seismic disruptions to the mobile eco-system.</p>

		<p><span style="color:#999;">11:00am Thursday, 03/31/2011</span><br />
		<a href="http://www.web2expo.com/webexsf2011/public/schedule/detail/19738" target="_blank">Brand Attitude Adjustment</a><br />
 Kandice Cota, Head of Product Development &amp; Research<br />
 <br />
Bring your brand issues to the table and get your brand attitude adjusted. In this highly interactive session, participants vie via Facebook to be crowned the brand that needs adjustment, then Josh and Kandi in fast forward fashion take them through their five step brand reinvention process. The lucky participants will walk away with a plan for their own brand revival...</p>

		<p><span style="color:#999;">1:00pm Thursday, 03/31/2011</span><br />
		<a href="http://www.web2expo.com/webexsf2011/public/schedule/detail/19917" target="_blank">Top 10 Disruptors In Web &amp; Mobile Media, Entertainment, Productivity and Life</a><br />
Kandice Cota, Head of Product Development &amp; Research<br />
<br />
Whether we like it or not the pace of all things new has forced us to get comfy with change or be a doormat for a disruptor. From the familiar to the unexpected disruptors are everywhere. What can visionaries who've upended industries teach us about business, trends, and thinking abut product innovation?</p><br /><br />
	</div>
	<div class="section2">
		<img src="_images/news/web20expo-2011.png" width="190" height="97" alt="Incontrol" />
	</div>


	<div class="section1">
		<h4>October 4-7, 2010, Chicago, IL<br />
		<a href="http://www.uwebc.org/2010conference/index.html" target="_blank">7th International Conference on Design &amp; Emotion</a></h4>
		<p>Amy Bickerton, our design research associate will be presenting her paper on emotional research.</p>
	</div>
	<div class="section2">
		<img src="_images/news/International-Conference-on-Design-Emotion.jpg" width="190" height="102" alt="Incontrol" />
	</div>




<!-- /// PAST EVENTS
	<div class="section1">
		<h4>SEPTEMBER 30, 2010, Madison, WI<br />
		<a href="http://www.uwebc.org/2010conference/index.html" target="_blank">University of Wisconsin E-Business Consortium</a></h4>
		<p>The midwest conference on business best practices &amp; emerging technologies.
Kelly Goto will be speaking on Customer Experience along with Google VP Marissa Mayer and 20 other renowned thought leaders and business experts.</p>
	</div>
	<div class="section2">
	</div>
 -->

<!--
	<h4>February 22nd-23rd, Orlando, FL<br />
	<a href="http://2010.incontrolconference.com/" target="_blank">In Control 2010: Web Design Conference</a></h4>
	<div class="section1">
		<p>Kelly Goto presents Designing for Lifestyle with a look at where we have been and where we are going with platforms, avatars and more.  Learn from a diverse array of Web experts to use modern tools and techniques to refine your Web design craft now. Harness creative inspiration to unlock your potential, amplify innovation, and broaden your reach. Immerse yourself in two days of idea exchange with potential business partners who are as forward-thinking as you are.</p>
	</div>
	<div class="section2">
		<img src="_images/news/incontrol.gif" width="188" height="47" alt="Incontrol" />
	</div>

	<h4>May 3rd-6th, San Francisco, CA<br />
	<a href="http://www.web2expo.com/webexsf2010/" target="_blank">Web 2.0 2010 Expo: The Power of Platforms</a></h4>
	<div class="section1">
		<p>Kelly Goto and Anthony Franco (EffectiveUI) present the "The Laws of User Experience" in a new workshop based format with an exciting panel of invited experts.  Whether you want to sell more software, improve employee efficiency, add brand value or increase ad revenue, great user experiences had better play a large role in your business strategy. This session will tackle why and how engaging software drives value to strategic business goals with a roadmap to help you cost-effectively put the theory into practice.</p>
	</div>
	<div class="section2">
		<img src="_images/news/webexsf2010_logo.gif" width="190" height="100" alt="Incontrol" />
	</div>
-->



</div>