<script type="text/javascript" src="_scripts/scripts-lenguajes-de-progamacion.js"></script>

<div class="contents-innerHTML lenguajes-de-programacion clearfix">
	<ul id="lenguajes-de-programacion-navi">
		<li><a href="javascript:;" id="lenguajes-de-programacion-navi-link-php" class="selected">PHP</a></li>
		<li><a href="javascript:;" id="lenguajes-de-programacion-navi-link-java">java</a></li>
		<li><a href="javascript:;" id="lenguajes-de-programacion-navi-link-csharp">csharp</a></li>

	</ul>
	<div id="lenguajes-de-programacion-list">

		<div class="lenguajes-de-programacion-item" id="lenguajes-de-programacion-item-php">
			<div class="image"><img src="_images/lenguajes-de-programacion/php.jpg" width="710" height="185" alt="php" /></div>
			<div class="content clearfix">
				<div class="section1"><p>PHP es un lenguaje de programación interpretado, diseñado originalmente para la creación de páginas web dinámicas. Es usado principalmente para la interpretación del lado del servidor (server-side scripting) pero actualmente puede ser utilizado desde una interfaz de línea de comandos o en la creación de otros tipos de programas incluyendo aplicaciones con interfaz gráfica usando las bibliotecas Qt o GTK+.</p></div>
				<div class="section2"><p>Si bien PHP no obliga a quien lo usa a seguir una determinada metodología a la hora de programar (muchos otros lenguajes tampoco lo hacen), aun haciéndolo, el programador puede aplicar en su trabajo cualquier técnica de programación o de desarrollo que le permita escribir código ordenado, estructurado y manejable. Un ejemplo de esto son los desarrollos que en PHP se han hecho del patrón de diseño Modelo Vista Controlador (MVC), que permiten separar el tratamiento y acceso a los datos, la lógica de control y la interfaz de usuario en tres componentes independientes.</p></div>
				<div class="section3">
					<h4 class="name">PHP</h4>
					<span class="links"><a href="http://www.php.net" target="_blank">php.net</a></span>
				</div>
			</div>
		</div><!-- id="lenguajes-de-programacion-item-php" -->

		<div class="lenguajes-de-programacion-item" id="lenguajes-de-programacion-item-java">
			<div class="image"><img src="_images/lenguajes-de-programacion/java.jpg" width="710" height="185" alt="java" /></div>
			<div class="content clearfix">
				<div class="section1"><p>java es un lenguaje de programación orientado a objetos, desarrollado por Sun Microsystems a principios de los años 90. El lenguaje en sí mismo toma mucha de su sintaxis de C y C++, pero tiene un modelo de objetos más simple y elimina herramientas de bajo nivel, que suelen inducir a muchos errores, como la manipulación directa de punteros o memoria.</p></div>
				<div class="section2"><p>La implementación original y de referencia del compilador, la máquina virtual y las bibliotecas de clases de java fueron desarrollados por Sun Microsystems en 1995. Desde entonces, Sun ha controlado las especificaciones, el desarrollo y evolución del lenguaje a través del java Community Process, si bien otros han desarrollado también implementaciones alternativas de estas tecnologías de Sun, algunas incluso bajo licencias de software libre.</p></div>
				<div class="section3"><h4 class="name">java</h4>
				<span class="links"><a href="http://www.oracle.com/technetwork/java/index.html" target="_blank">oracle.com</a></span>
				</div>
			</div>
		</div><!-- id="lenguajes-de-programacion-item-java" -->

		<div class="lenguajes-de-programacion-item" id="lenguajes-de-programacion-item-csharp">
			<div class="image"><img src="_images/lenguajes-de-programacion/csharp.jpg" width="710" height="185" alt="csharp" /></div>
			<div class="content clearfix">
				<div class="section1"><p>C♯ o C# (pronunciado ci sharp en inglés) es un lenguaje de programación orientado a objetos desarrollado y estandarizado por Microsoft como parte de su plataforma .NET, que después fue aprobado como un estándar por la ECMA e ISO. Su sintaxis básica deriva de C/C++ y utiliza el modelo de objetos de la plataforma.NET, similar al de java aunque incluye mejoras derivadas de otros lenguajes (entre ellos Delphi).</p></div>
				<div class="section2"><p> Aunque C♯ forma parte de la plataforma.NET, ésta es una interfaz de programación de aplicaciones (API), mientras que C♯ es un lenguaje de programación independiente diseñado para generar programas sobre dicha plataforma. Ya existe un compilador implementado que provee el marco de DotGNU - Mono que genera programas para distintas plataformas como Win32, UNIX y Linux.</p></div>
				<div class="section3"><h4 class="name">C#</h4>
				<span class="links"><a href="http://www.microsoft.com/net/" target="_blank">microsoft.com</a></span></div>
			</div>
		</div><!-- id="lenguajes-de-programacion-item-csharp" -->


		




	</div><!--id="lenguajes-de-programacion-list"-->
</div>
