<script type="text/javascript" src="_scripts/scripts-bases-de-datos.js"></script>

<div class="contents-innerHTML bases-de-datos clearfix">
	<ul id="bases-de-datos-navi">
		<li><a href="javascript:;" id="bases-de-datos-navi-link-SQLite" class="selected">SQLite</a></li>
		<li><a href="javascript:;" id="bases-de-datos-navi-link-postgresql">postgresql</a></li>
		<li><a href="javascript:;" id="bases-de-datos-navi-link-mysql">mysql</a></li>
		<li><a href="javascript:;" id="bases-de-datos-navi-link-sqlserver">sqlserver</a></li>
		<li><a href="javascript:;" id="bases-de-datos-navi-link-oracle">oracle</a></li>

	</ul>
	<div id="bases-de-datos-list">

		<div class="bases-de-datos-item" id="bases-de-datos-item-SQLite">
			<div class="image"><img src="_images/bases-de-datos/SQLite.jpg" width="710" height="185" alt="SQLite" /></div>
			<div class="content clearfix">
				<div class="section1"><p>SQLite es un sistema de base de datos relacional de gestión de contenidos en una librería de programación relativamente pequeña C. El código fuente de SQLite es de dominio público y ejecuta la mayor parte del estándar SQL. A diferencia de otras bases de datos, SQLite no es un proceso independiente que se accede desde la aplicación cliente, sino una parte integrante de la misma.  SQLite es una base de datos de múltiples tareas sobre lecturas.  </p></div>
				<div class="section2"><p> Escribe se puede hacer sólo una a la vez. Es una opción popular para el almacenamiento local de cliente / en la web navegadores. Tiene enlaces con muchos lenguajes de programación. SQLite usa una forma dinámica y flexible de tipos de sintaxis SQL que no garantiza la integridad del dominio. Podría decirse que es el motor de base de datos más utilizado, ya que se utiliza hoy en día por varios navegadores generalizada, sistemas operativos, sistemas integrados, entre otros. </p></div>
				<div class="section3">
					<h4 class="name">SQLite</h4>
					<span class="links"><a href="http://www.sqlite.org" target="_blank">sqlite.org</a></span>
				</div>
			</div>
		</div><!-- id="bases-de-datos-item-SQLite" -->

		<div class="bases-de-datos-item" id="bases-de-datos-item-postgresql">
			<div class="image"><img src="_images/bases-de-datos/postgresql.jpg" width="710" height="185" alt="postgresql" /></div>
			<div class="content clearfix">
				<div class="section1"><p>PostgreSQL es un potente sistema de base de datos objeto-relacional de código abierto. Cuenta con más de 15 años de desarrollo activo y una arquitectura probada que se ha ganado una sólida reputación de fiabilidad, integridad de datos y recuperacion. Funciona en todos los sistemas operativos más importantes, incluyendo Linux, UNIX (AIX, BSD, HP-UX, SGI IRIX, Mac OS X, Solaris, Tru64) y Windows.</p></div>
				<div class="section2"><p>Una base de datos de clase empresarial, PostgreSQL cuenta con características avanzadas tales como Control  de concurrencia Multi-Version(MVCC), punto en el tiempo de recuperación, tablespaces, replicación asincrónica, transacciones anidadas (puntos de retorno), en línea y copias de seguridad en caliente, un planeador de consultas sofisticadas / optimizador, y escribir por delante de registro para la tolerancia a fallos. </p></div>
				<div class="section3"><h4 class="name">PostgreSQL</h4><span class="links"><a href="http://www.sqlite.org" target="_blank">postgresql.org</a></span></div>
			</div>
		</div><!-- id="bases-de-datos-item-postgresql" -->

		<div class="bases-de-datos-item" id="bases-de-datos-item-mysql">
			<div class="image"><img src="_images/bases-de-datos/mysql.jpg" width="710" height="185" alt="mysql" /></div>
			<div class="content clearfix">
				<div class="section1"><p> La base de datos MySQL se ha convertido en la base de datos de código abierto más popular debido a su alto rendimiento, alta fiabilidad y facilidad de uso.También es la base de datos de elección para una nueva generación de aplicaciones basadas en el stack LAMP (Linux, Apache, MySQL, PHP / Perl / Python.)  </p></div>
				<div class="section2"><p> Muchos de las más grandes organizaciones de más rápido crecimiento del mundo, incluyendo Facebook, Google, Adobe, Lucent, Alcatel y Zappos se basan en MySQL para ahorrar tiempo y dinero en sus sitios Web de alto volumen, sistemas de negocio críticos y envasado software.</p></div>
				<div class="section3"><h4 class="name">MySQL</h4><span class="links"><a href="http://www.mysql.com" target="_blank">mysql.com</a></span></div>
			</div>
		</div><!-- id="bases-de-datos-item-mysql" -->

		<div class="bases-de-datos-item" id="bases-de-datos-item-sqlserver">
			<div class="image"><img src="_images/bases-de-datos/sqlserver.jpg" width="710" height="185" alt="sqlserver" /></div>
			<div class="content clearfix">
				<div class="section1"><p> Microsoft SQL Server es un sistema para la gestión de bases de datos producido por Microsoft basado en el modelo relacional. Sus lenguajes para consultas son T-SQL y ANSI SQL. Microsoft SQL Server constituye la alternativa de Microsoft a otros potentes sistemas gestores de bases de datos como son Oracle o PostgreSQL o MySQL. </p></div>
				<div class="section2"><p> SQL Server 2008 le permite utilizar sus datos en aplicaciones a medida desarrolladas con Microsoft® .NET y Visual Studio y también desde su propia Arquitectura Orientada a Servicio (SOA) . </p></div>
				<div class="section3"><h4 class="name">MS SQL Server</h4><span class="links"><a href="http://www.microsoft.com/sqlserver" target="_blank" >www.microsoft.com</a></span></div>
			</div>
		</div><!-- id="bases-de-datos-item-mysql" -->

		<div class="bases-de-datos-item" id="bases-de-datos-item-oracle">
			<div class="image"><img src="_images/bases-de-datos/oracle.jpg" width="710" height="185" alt="oracle" /></div>
			<div class="content clearfix">
				<div class="section1"><p> Oracle es un sistema de gestión de base de datos objeto-relacional (o ORDBMS por el acrónimo en inglés de Object-Relational Data Base Management System), desarrollado por Oracle Corporation. Se considera a Oracle como uno de los sistemas de bases de datos más completos, destacando:soporte de transacciones, estabilidad, escalabilidad y Soporte multiplataforma. </p></div>
				<div class="section2"><p> Su dominio en el mercado de servidores empresariales ha sido casi total hasta hace poco, recientemente sufre la competencia del Microsoft SQL Server de Microsoft y de la oferta de otros RDBMS con licencia libre como PostgreSQL, MySql o Firebird. Las últimas versiones de Oracle han sido certificadas para poder trabajar bajo GNU/Linux.</p></div>
				<div class="section3">
					<h4 class="name">Oracle</h4>
					<span class="links"><a href="http://www.oracle.comr" target="_blank" >www.oracle.com</a></span>
				</div>
			</div>
		</div><!-- id="bases-de-datos-item-oracle" -->




	</div><!--id="bases-de-datos-list"-->
</div>
